html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

header {
  padding: 1.3rem 2%;
  background-color: #decda4;
}

header.clearfix img {
  float: left;
  margin: 8px 15px 8px 8px;
  width: 28%;
  height: auto;
  border-radius: 3rem;
}

header h1 {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Merriweather", serif;
}
header h2 {
  margin: 0;
  font-weight: normal;
  font-size: 1.3rem;
  font-family: "Lato ", sans-serif;
}
h2.title {
  display: none;
}
h2 {
  font-family: "Merriweather", serif;
}

nav {
  background-color: #b4c79b;
  text-align: center;
  margin: auto;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0;
  margin: auto;
}

nav ul li a {
  display: block;
  color: #444242;
  padding: 1rem 0;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

nav ul li a:hover {
  background-color: #89a166;
  color: #ffffff;
  padding: 1rem 2.5rem;
}
nav ul li.active a {
  background-color: #e6dcbf;
  color: #333;
  padding: 1rem;
}

nav ul.hide {
  display: none;
}

nav button {
  background-color: #b4c79b;
  border: none;
  padding: 0.7rem;
}

main {
  padding: 0 2%;
  padding-bottom: 10px;
  min-height: 15rem;
}

h1 {
  font-family: "Merriweather", serif;
}

div {
  font-family: "Lato", sans-serif;
}

footer {
  background-color: #decda4;
  padding: 0.5rem 2%;
  text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-gap: 1rem;
  margin: 1.5rem 0;
}

.grid div {
  border: 1px solid #e6dcbf;
  padding: 1rem;
  background-color: #f8f3f3;
  border-radius: 20px;
}

.list div {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid #e6dcbf;
  padding: 1rem;
  background-color: #f8f3f3;
  border-radius: 20px;
}

.grid a,
.list a {
  display: block;
  padding: 0.5rem 0;
}

.joinBtn {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  background-color: #b4c79b;
  border: 5px solid white;
}

.joinBtn:hover {
  background-color: #decda4;
}

.joinBtn img {
  width: 40%;
}

.joinBtn.activebutton {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  background-color: #89a166;
  border: 5px solid white;
}

.buttons {
  margin-left: 0;
}

.grid img {
  width: 40%;
  text-align: center;
}

.list img {
  width: 25%;
  padding: 1rem 0;
}

#lastUpdated {
  color: black;
  text-align: center;
  display: block;
}

/* ---------------------------TABLET--------------------------- */
@media only screen and (min-width: 35rem) {
  header.clearfix img {
    width: 15%;
    height: auto;
    border-radius: 4rem;
  }

  header h1 {
    padding-top: 1rem;
    font-size: 2rem;
  }

  header h2 {
    font-size: 1.5rem;
  }

  nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul li a {
    padding: 1rem 1rem;
  }

  nav button {
    display: none;
  }

  nav ul.hide {
    display: block;
  }

  h2.title {
    display: initial;
    padding: 150px 0;
  }

  .grid {
    grid-gap: 1rem;
  }

  .list div {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  /* -----------------------------LAPTOP---------------------------- */
  @media only screen and (min-width: 64rem) {
    main,
    footer {
      max-width: 64rem;
      margin: auto;
    }

    header h1 {
      padding-top: 1.5rem;
      font-size: 2rem;
    }

    header.clearfix img {
      width: 10%;
      height: auto;
      border-radius: 5rem;
    }

    nav ul {
      list-style: none;
      text-align: center;
      padding: 0;
    }

    nav ul li {
      display: inline-block;
    }

    nav ul li a {
      padding: 1rem 2.5rem;
    }
  }
  /* end of media query */
}
