@media only screen and (min-width: 32.5em) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 30px;
  }
  header,
  footer {
    padding: 1rem 2%;
    margin: auto;
    border-radius: 15px;
  }
  img {
    float: right;
    box-shadow: black 3px 3px 10px 2px;
    border-radius: 5px;
  }
}
