h1 {
  color: white;
}
h2 {
  color: black;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  text-align: left;
}
#copyright {
  color: white;
  text-align: center;
}
li {
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#byu {
  color: white;
}
img {
  width: 150 px;
  height: 210px;
}
header {
  background-color: rgb(199, 130, 143);
  text-align: center;
  display: block;
}
main {
  text-align: left;
}
#lastUpdated {
  color: #532b4b;
  text-align: center;
  display: block;
}
footer {
  background-color: rgb(199, 130, 143);
  text-align: center;
  display: block;
}
