h1 {
  color: white;
  font-size: 24px;
}
h2 {
  color: black;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  text-align: left;
}
#copyright {
  color: white;
  text-align: center;
}
p {
  font-size: 19px;
  font-family: "Playfair Display", serif;
}
#byu {
  color: white;
}
img {
  width: 25%;
}
header {
  background-color: rgba(192, 90, 109, 0.906);
  text-align: center;
  display: block;
}
main {
  text-align: left;
}
#lastUpdated {
  color: rgb(247, 240, 240);
  text-align: center;
  display: block;
}
footer {
  background-color: rgba(192, 90, 109, 0.906);
  text-align: center;
  display: block;
}
