h1 {
  color: white;
  font-size: 30px;
  text-align: left;
  margin-left: 30px;
}
h2 {
  color: black;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  text-align: left;
}
#copyright {
  color: white;
  text-align: center;
}
li {
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#byu {
  color: white;
}
img {
  width: 150 px;
  height: 210px;
  margin-top: -60px;
}
header {
  text-align: center;
  background-color: rgb(199, 130, 143);
  margin-left: 250px;
  margin-right: 250px;
  padding: 10px;
}
main {
  text-align: left;
  margin-left: 250px;
  margin-right: 250px;
  padding-left: 30px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#lastUpdated {
  color: #532b4b;
  text-align: center;
  display: block;
}
footer {
  background-color: rgb(199, 130, 143);
  margin-left: 250px;
  margin-right: 250px;
  padding: 25px;

  display: block;
}
