@media only screen and (min-width: 64rem) {
  main,
  footer {
    max-width: 64rem;
    margin: auto;
  }

  div.pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: -50px;
  }
  div.pictures figure {
    margin-right: 15px;
    display: block;
  }
  .pictures figure:hover {
    box-shadow: 10px 10px 35px rgb(65, 63, 63);
    display: block;
  }

  nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
  }

  nav ul li {
    display: inline-block;
  }

  div.pictures figure {
    margin-left: 38px;
  }
}
/* end of media query */
