* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
}
h1 {
  color: white;
  font-size: 36px;
}
h2 {
  color: black;
}
h3 {
  color: rgba(75, 73, 74, 0.911);
}
header {
  background-color: rgb(199, 130, 143);
  text-align: center;
  display: block;
  padding: 0.5rem 2%;
  font-family: "Prata", serif;
}
main {
  text-align: center;
}
article {
  display: block;
  padding: 1em 5%;
  background-color: hsl(34, 32%, 90%);
  max-width: 100%;
  border-radius: 15px;
  margin: 20px;
  font-family: "Prata", serif;
}
a {
  font-family: "helvetica", serif;
}
img {
  max-width: 80%;
  margin-top: 15px;
}
p {
  text-align: justify;
  font-family: "helvetica", serif;
  line-height: 20px;
}
#copyright {
  color: white;
  padding: 0.5rem 2%;
}
footer {
  background-color: rgb(199, 130, 143);
  display: block;
  text-align: center;
  padding: 0.5rem 2%;
  font-family: "Prata", serif;
  font-size: 19px;
}
