h1 {
  text-align: center;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
picture img {
  margin: 30px;
}

img[data-src] {
  filter: blur(0.5em);
}

img {
  filter: blur(0em);
  transition: filter 1s;
}
