* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/** add this if normalize.css is not included
 *  html {
 *  -ms-text-size-adjust: 100%; 
 * -webkit-text-size-adjust: 100%;}
 */

/* body rules here */
body {
  font-family: verdana;
  font-size: 16px;
}

/* header rules here */
header {
  background-color: #ecc695;
  padding: 1erm 2%;
}
header h1 {
  margin: 0; /* by default heading have margins */
}
header h2 {
  margin: 0;
}

/* navigation rules here */
nav {
  background-color: #111;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  list-style-type: none;
}
nav li.active {
  background-color: #333;
}
nav a {
  display: block;
  padding: 0.8er 0; /* 44 min height */
  color: #eee;
  text-align: center;
  text-decoration: none;
}
nav a:hover {
  background-color: #444;
}

/* main rules here */
main {
  padding: 1rem 2%;
  display: block;
}
main h1 {
  color: #ebab58;
}
main figure img {
  width: 100%;
}
main figure {
  width: 100%;
  margin: 0;
}
main figcaption {
  text-align: center;
  font-size: 0.8rem;
}

/* footer rules here */
footer {
  text-align: center;
  padding: 1rem 2%;
  background-color: #ecc695;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
